bbps-biller-integrator/src/main/resources/xsd/Ack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="BBPS-Common.xsd" />
	<xs:element name="Ack" type="bbps:Ack">
		<xs:annotation>
			<xs:documentation>Ack</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- <xs:element name="Ack" type="bbps:AckType"> -->
		<xs:complexType name="Ack">
			<xs:sequence>
				<xs:element name="errorMessages" type="bbps:errorMessage"
					minOccurs="0" maxOccurs="unbounded">
				</xs:element>
			</xs:sequence>
			<xs:attribute name="api" type="xs:string" />
			<xs:attribute name="refId" type="xs:string" />
			<xs:attribute name="msgId" type="xs:string" />
			<xs:attribute name="RspCd" type="xs:string" />
			<xs:attribute name="ts" type="xs:string" />
			<xs:attribute name="id" type="xs:string" />
		</xs:complexType>
	<!-- </xs:element> -->
</xs:schema>