bbps-biller-integrator/src/main/resources/xsd/BillPaymentResponseLite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bbps="http://bbps.org/schema"  targetNamespace="http://bbps.org/schema" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BBPS-Common.xsd" />

	<xs:element name="BillPaymentResponseLite" type="bbps:BillPaymentResponseTypeLite">
		<xs:annotation>
			<xs:documentation>BBPS Bill Payment Response Lite</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:complexType name="BillPaymentResponseTypeLite">
			
			<xs:attribute type="xs:string" name="billerId" use="required" />
			<xs:attribute type="xs:string" name="ts" use="required" />
			<xs:attribute type="xs:string" name="refId" use="required" />
			<xs:attribute type="xs:string" name="approvalRefNum" use="required" />
			<xs:attribute type="xs:string" name="responseCode" use="required" />
			<xs:attribute type="xs:string" name="responseReason" use="required" />
			<xs:attribute type="xs:string" name="txnReferenceId" use="optional"/>
			<xs:attribute type="xs:string" name="directBillContentId" use="optional"/>
			<xs:attribute type="xs:string" name="paymentRefId" use="optional"/>
			

				</xs:complexType>
</xs:schema>
