bbps-biller-integrator/src/main/resources/xsd/BillPaymentValidationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema" elementFormDefault="unqualified"
	attributeFormDefault="unqualified">
	<xs:include schemaLocation="BBPS-Common.xsd" />
	<xs:element name="BillPaymentValidationResponse" type="bbps:BillPaymentValidationResponseType">
		<xs:annotation>
			<xs:documentation>UPMS Bill Payment Validation Response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BillPaymentValidationResponseType">
		<xs:sequence>
			<xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:reasonType" name="Reason" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:upmsType" name="Upms" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>