bbps-biller-integrator/src/main/resources/xsd/BillFetchResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bbps="http://bbps.org/schema"  targetNamespace="http://bbps.org/schema" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BBPS-Common.xsd" />

	<xs:element name="BillFetchResponse" type="bbps:BillFetchResponseType">
		<xs:annotation>
			<xs:documentation>BBPS Bill Fetch Response</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:complexType name="BillFetchResponseType">
		<xs:sequence>
			<xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:reasonType" name="Reason" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:txnType" name="Txn" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:billDetailsType" name="BillDetails" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:billerResponseType" name="BillerResponse" minOccurs="0" maxOccurs="unbounded" />
			<xs:element type="bbps:billerPlanResponseType" name="BillerPlanResponse" minOccurs="0" maxOccurs="1" /> <!-- Mutual Fund - Part 2 -->
			<xs:element type="bbps:additionalInfoType" name="AdditionalInfo" minOccurs="0" maxOccurs="1" />
			<xs:element type="bbps:upmsType" name="Upms" minOccurs="0" maxOccurs="1" /> <!-- change   for   UPMS -->
		</xs:sequence>
	</xs:complexType>
</xs:schema>