bbps-biller-integrator/src/main/resources/xsd/BulkBillPaymentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema" elementFormDefault="unqualified"
	attributeFormDefault="unqualified">
	<xs:include schemaLocation="BBPS-Common.xsd" />
	<xs:element name="BulkBillPaymentRequest" type="bbps:BulkBillPaymentRequestType">
		<xs:annotation>
			<xs:documentation>UPMS Bulk Bill Payment Request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BulkBillPaymentRequestType">
		<xs:sequence>
			<xs:element type="xs:string" name="ParentRefId" minOccurs="1" maxOccurs="1" />
			<xs:element type="xs:string" name="OrigInstId" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="Ts" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:BillPaymentBulkRequestType" name="BillPaymentRequest" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
    <xs:complexType name="BillPaymentBulkRequestType">
		<xs:sequence>
			<xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:analyticsType" name="Analytics" minOccurs="0" maxOccurs="1" />
			<xs:element type="bbps:txnType" name="Txn" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:customerDtlsType" name="Customer" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:agentType" name="Agent" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:billDetailsType" name="BillDetails" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:billerResponseType" name="BillerResponse" minOccurs="0" maxOccurs="1" />
			<xs:element type="bbps:additionalInfoType" name="AdditionalInfo" minOccurs="0" maxOccurs="1" />
			<xs:element type="bbps:pmtMtdType" name="PaymentMethod" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:amountType" name="Amount" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:pymntInfType" name="PaymentInformation" minOccurs="1" maxOccurs="1" />
			<xs:element type="bbps:upmsType" name="Upms" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>