bbps-biller-integrator/src/main/resources/xsd/BulkBillPresentmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bbps="http://bbps.org/schema"  targetNamespace="http://bbps.org/schema" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BillFetchResponse.xsd" />

	<xs:element name="BillPresentmentResponses" type="bbps:BillFetchResponsesType">
		<xs:annotation>
			<xs:documentation>BBPS Bulk Bill Presentment Responses</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BillFetchResponsesType">
		<xs:sequence>
			<xs:element type="bbps:BillFetchResponseType" name="billPresentmentResponse" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>