bbps-biller-integrator/src/main/resources/xsd/BulkBillPresentmentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bbps="http://bbps.org/schema"  targetNamespace="http://bbps.org/schema" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BillFetchRequest.xsd" />

	<xs:element name="BillPresentmentRequests" type="bbps:BillFetchRequestsType">
		<xs:annotation>
			<xs:documentation>BBPS Bulk Bill Presentment Requests</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BillFetchRequestsType">
		<xs:sequence>
			<xs:element type="bbps:BillFetchRequestType" name="billPresentmentRequest" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>