bbps-biller-integrator/src/main/resources/xsd/NotificationExceptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:element name="NotificationExceptionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errorCode" type="xs:int" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="message" type="xs:string" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="errorMessages" type="bbps:ValidationError" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ValidationError">
		<xs:sequence>
			<xs:element name="fieldName" type="xs:string" minOccurs="0"
						maxOccurs="1" />
			<xs:element name="errorMessage" type="xs:string" minOccurs="0"
						maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>