bbps-biller-integrator/src/main/resources/xsd/SearchNotificationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="AlertNotificationDetail.xsd" />
	<xs:element name="SearchNotificationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="notification" type="bbps:notificationDetailType"
					maxOccurs="unbounded" minOccurs="0" />
				<xs:element name="pageNo" type="xs:int" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="pageSize" type="xs:int" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="previousPageExists" type="xs:boolean" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="nextPageExists" type="xs:boolean" minOccurs="1"
					maxOccurs="1" />
					
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
</xs:schema>