bbps-biller-integrator/src/main/resources/xsd/SwitchoverRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
   <xs:include schemaLocation="BBPS-Common.xsd" />
   <xs:element name="SwitchoverRequest" type="bbps:SwitchoverRequestType">
      <xs:annotation>
         <xs:documentation>Switchover Request</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SwitchoverRequestType">
      <xs:sequence>
         <xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1" />
         <xs:element type="bbps:SwitchoverDetailsType" name="SwitchoverDetails" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
   </xs:complexType>
<xs:complexType name="SwitchoverDetailsType">
<xs:sequence>
<xs:element type="xs:string" name="isPlanned" minOccurs="1" maxOccurs="1"/>
<xs:element type="xs:string" name="ouEndPointURL" minOccurs="1" maxOccurs="1"/>
<xs:element type="xs:string" name="description" minOccurs="1" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
