bbps-biller-integrator/src/main/resources/xsd/TicketRequest.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bbps="http://bbps.org/schema"  targetNamespace="http://bbps.org/schema" 
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
 	<xs:include schemaLocation="BBPS-Common.xsd" />
 
	<xs:element name="TicketRequest" type="bbps:TicketRequest"> 
		<xs:annotation> 
			<xs:documentation>BBPS API request</xs:documentation> 
		</xs:annotation> 
	</xs:element> 

	<xs:complexType name="TicketRequest"> 
		<xs:sequence> 
			<xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1" /> 
			<xs:element type="bbps:txnType" name="Txn" minOccurs="1" maxOccurs="1" /> 
			<xs:element type="bbps:TicketReq" name="TicketReq" minOccurs="1" maxOccurs="1" /> 
		</xs:sequence> 
	</xs:complexType>

	<xs:complexType name="TicketReq"> 
		<xs:simpleContent> 
			<xs:extension base="xs:string"> 
			<xs:attribute type="xs:string" name="ticketId" use="optional" /> 
			<xs:attribute type="xs:string" name="txnReferenceId" use="optional" /> 
			<xs:attribute type="xs:string" name="disposition" use="optional" /> 
			<xs:attribute type="xs:string" name="description" use="optional" /> 
			<xs:attribute type="xs:string" name="remarks" use="optional" />
			<xs:attribute type="xs:string" name="customerMobile" use="optional" /> 
			<xs:attribute type="xs:string" name="customerName" use="optional" />
			<xs:attribute type="xs:string" name="customerEmailId" use="optional" />
			<xs:attribute type="xs:string" name="ticketTat" use="optional" /> 
			</xs:extension> 
		</xs:simpleContent> 
	</xs:complexType> 
</xs:schema> 