bbps-biller-integrator/src/main/resources/xsd/TxnStatusComplainResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bbps="http://bbps.org/schema"
		   targetNamespace="http://bbps.org/schema"
		   elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="BBPS-Common.xsd"/>

	<xs:element name="TxnStatusComplainResponse" type="bbps:TxnStatusComplainResponse">
		<xs:annotation>
			<xs:documentation>BBPS API response</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="TxnStatusComplainResponse">
		<xs:sequence>
			<xs:element type="bbps:headType" name="Head" minOccurs="1" maxOccurs="1"/>
			<xs:element type="bbps:txnType" name="Txn" minOccurs="1" maxOccurs="1"/>
			<xs:element type="bbps:TxnStatusComplainResp" name="TxnStatusComplainResp" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TxnStatusComplainResp">
		<xs:sequence>
			<xs:element name="TxnList" minOccurs="1" maxOccurs="1" type="bbps:TxnList"/>
			<!-- Added for 401 V3 API Sayon 15/09/2025 -->
			<xs:element name="Tickets" minOccurs="0" maxOccurs="1" type="bbps:Tickets" />
			<xs:element name="CreditAdjustments" minOccurs="0" maxOccurs="1" type="bbps:CreditAdjustments"/>
			<xs:element name="ForcePaymentDetails" minOccurs="0" maxOccurs="1" type="bbps:ForcePaymentDetails" />
			<!-- Added for 401 V3 API SAYON 15/09/2025 -->
			<xs:element name="CustomerDetails" minOccurs="0" maxOccurs="1" type="bbps:CustomerDetails"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="msgId" use="required"/>
		<xs:attribute type="xs:string" name="complaintId" use="optional"/>
		<xs:attribute type="xs:string" name="description" use="optional"/>
		<xs:attribute type="xs:string" name="openComplaint" use="optional"/>
		<xs:attribute type="xs:string" name="reopenComplaint" use="optional"/>
		<xs:attribute type="xs:string" name="complaintStatus" use="optional"/>
		<xs:attribute type="xs:string" name="assigned" use="optional"/>
		<xs:attribute type="xs:string" name="responseCode" use="optional"/>
		<xs:attribute type="xs:string" name="responseReason" use="optional"/>
		<xs:attribute type="xs:string" name="remarks" use="optional"/>
		<!-- Start :: SBI reqi-Notification through API by Sravan Manne -->
		<xs:attribute type="xs:string" name="txnReferenceId" use="optional"/>
		<xs:attribute type="xs:string" name="disposition" use="optional"/>
		<xs:attribute type="xs:string" name="description" use="optional"/>
		<!-- End :: SBI reqi-Notification through API by Sravan Manne -->
		<!-- Start :: B2B category adding billNumber by Shajahan -->
		<xs:attribute type="xs:string" name="billNumber" use="optional"/>
		<!-- End :: B2B category adding billNumber by Shajahan -->
	</xs:complexType>

	<xs:complexType name="TxnList">
		<xs:sequence>
			<xs:element name="TxnDetail" type="bbps:TxnDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TxnDetail">
		<xs:sequence>
			<xs:element type="bbps:additionalInfoType" name="AdditionalInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="agentId" use="optional"/>
		<xs:attribute type="xs:string" name="billerId" use="optional"/>
		<xs:attribute type="xs:string" name="refId" use="optional"/>
		<xs:attribute type="xs:string" name="approvalRefNum" use="optional"/>
		<xs:attribute type="xs:string" name="txnReferenceId" use="required"/>
		<xs:attribute type="xs:string" name="mti" use="optional"/>
		<xs:attribute type="xs:string" name="txnDate" use="required"/>
		<xs:attribute type="xs:string" name="amount" use="required"/>
		<xs:attribute type="xs:string" name="txnStatus" use="required"/>
		<xs:attribute type="xs:string" name="complianceRespCd" use="optional"/>
		<xs:attribute type="xs:string" name="complianceReason" use="optional"/>
		<!-- <xs:attribute type="xs:string" name="refundstatus" use="optional" />
        <xs:attribute type="xs:string" name="refunddate" use="optional" /> -->
		<!-- BBPSREQ-10 Build 44 - starts -->
		<xs:attribute type="xs:string" name="disputeId" use="optional"/>
		<xs:attribute type="xs:string" name="disputeDate" use="optional"/>
		<xs:attribute type="xs:string" name="disputeType" use="optional"/>
		<xs:attribute type="xs:string" name="disputeStatus" use="optional"/>
		<xs:attribute type="xs:string" name="disputeAmount" use="optional"/>
		<!--<xs:attribute type="xs:string" name="txnType" use="optional" />--><!-- Build 44 - QA fix #42 -->
		<xs:attribute type="xs:string" name="caId" use="optional"/>
		<xs:attribute type="xs:string" name="caDate" use="optional"/>
		<xs:attribute type="xs:string" name="caStatus" use="optional"/>
		<xs:attribute type="xs:string" name="caAmount" use="optional"/>
		<xs:attribute type="xs:string" name="caPenalty" use="optional"/>
		<!-- BBPSREQ-10 Build 44 - ends -->
		<!--Added for 401 v2 enhancements-->
		<xs:attribute type="xs:string" name="fpId" use="optional"/>
		<xs:attribute type="xs:string" name="fpInitiatedDate" use="optional"/>
		<xs:attribute type="xs:string" name="fpStatus" use="optional"/>
		<xs:attribute type="xs:string" name="fpClosureDate" use="optional"/>
		<xs:attribute type="xs:string" name="refundedTxnAmount" use="optional"/>
		<!-- paymentRefId mandatory and used only for payment -->
		<xs:attribute type="xs:string" name="paymentRefId" use="optional"/>
		<xs:attribute type="xs:string" name="billNumber" use="optional"/>
	</xs:complexType>

	<!-- Added for 401 V3 API Sayon start -->
	<xs:complexType name="Tickets">
		<xs:sequence>
			<xs:element name="TicketDetails" type="bbps:TicketDetails" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TicketDetails">
		<xs:attribute type="xs:string" name="ticketId" use="optional"/>
		<xs:attribute type="xs:string" name="ticketType" use="optional"/>
		<xs:attribute type="xs:string" name="description" use="optional"/>
		<xs:attribute type="xs:string" name="ticketStatus" use="optional"/>
		<xs:attribute type="xs:string" name="ticketInitiatedDate" use="optional"/>
		<xs:attribute type="xs:string" name="ticketClosureDate" use="optional"/>
		<xs:attribute type="xs:string" name="ticketEstimatedTat" use="optional"/>
		<xs:attribute type="xs:string" name="refundedTxnAmount" use="optional"/>
		<xs:attribute type="xs:string" name="refundedPenaltyAmount" use="optional"/>
	</xs:complexType>

	<xs:complexType name="CreditAdjustments">
		<xs:attribute type="xs:string" name="caId" use="optional"/>
		<xs:attribute type="xs:string" name="caInitiatedDate" use="optional"/>
		<xs:attribute type="xs:string" name="caStatus" use="optional"/>
		<xs:attribute type="xs:string" name="caClosureDate" use="optional"/>
		<xs:attribute type="xs:string" name="refundedTxnAmount" use="optional"/>
		<xs:attribute type="xs:string" name="refundedPenaltyAmount" use="optional"/>
	</xs:complexType>

	<xs:complexType name="ForcePaymentDetails">
		<xs:attribute type="xs:string" name="fpId" use="optional"/>
		<xs:attribute type="xs:string" name="fpInitiatedDate" use="optional"/>
		<xs:attribute type="xs:string" name="fpStatus" use="optional"/>
		<xs:attribute type="xs:string" name="fpClosureDate" use="optional"/>
		<xs:attribute type="xs:string" name="refundedTxnAmount" use="optional"/>
	</xs:complexType>
	<!-- Added for 401 V3 API Sayon end -->

	<xs:complexType name="CustomerDetails">
		<xs:attribute type="xs:string" name="mobile" use="required"/>
	</xs:complexType>

</xs:schema>
